.cutout-slider {
  height: 80vh !important;

  &.carousel .extra-overlay {
    color: black;
    opacity: 0.1;
    letter-spacing: 0.4rem;
    line-height: 5rem;
    position: absolute;
    font-size: 10rem;
    font-family: 'SweetSansPro';
    font-weight: 700;
  }

  &.carousel .extra-overlay.count {
    left: -3.8rem;
    top: 6rem;
  }

  &.carousel .extra-overlay.year {
    right: 2rem;
    bottom: 0;
  }

  .cutout-slider-content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    padding: 0 3.5rem !important;
    position: relative;

    .btn {
      font-family: 'SweetSansPro';
      font-weight: 700;
      font-size: 1rem;
      border-radius: 0.5rem;

      &:hover {
        background-color: #696969;
        color: #fff;
      }

      &:active,
      &:focus,
      &.focus,
      &:visited,
      &:focus-visible {
        background-color: #4a4a4a;
        color: #fff;
        border: 0;
        outline: none !important;
        box-shadow: none;
      }
    }
  }

  p {
    line-height: 1rem;

    span {
      color: grey;
      text-transform: uppercase;
    }
  }

  h2.content-title {
    line-height: 2.5rem !important;
    font-size: 2.5rem !important;
  }
}
