{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
    {% include 'partial/featured-header.twig' %}

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section-heading">
					<h3 class="title">THE JOURNAL</h3>

					<h5 class="subtitle mb-0">GET UP TO SPEED</h5>
				</div>

        <div class="container-fluid mb-5">
          <div id="journal__list" class="row">

            {% include 'partial/journal-list.twig' with { posts: posts } %}

          </div>

          <div class="justify-content-end mb-4" style="display: none;">
            <button id="load-more-journal-btn" class="btn load-more-btn">More</button>
          </div>
        </div>

				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

  <script>
    $(document).ready(function() {
      let page = 1;

      $("#load-more-journal-btn").click((e) => {
        e.preventDefault();

        page++;

        $("#load-more-journal-btn").attr('disabled', true);

        $.ajax({
          type: 'POST',
          url: '/wp-admin/admin-ajax.php',
          dataType: 'html',
          data: {
            action : 'get_journals',
            page : page,
          },
          success: function(data) {
            const journalsCount = $('<div></div>').html(data).find('.journal-item').size();

            if (journalsCount < 9) {
              $("#load-more-journal-btn").parent().hide();
            }

            if (journalsCount) $('#journal__list').append(data);

            $("#load-more-journal-btn").attr('disabled', false);
          },
          error: function(data) {
            $("#load-more-journal-btn").attr('disabled', false);
          }
        });
      });

      const journalsCount = $('#journal__list').find('.journal-item').size();

      if (journalsCount === 9) {
        $("#load-more-journal-btn").parent().show();
      }
    });
  </script>
{% endblock %}
