{% extends "base.twig" %}
{% set headerClass = "header-light" %}

{% block content %}
	<div class="content-wrapper">
		{% include 'partial/featured-header.twig' with { hideInquiry: true } %}

		<article class="post-type-{{post.post_type}} page-contact" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section-heading">
					<h3 class="title">CONTACT</h3>
				</div>

        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <h3 class="text-center mb-3">VISIT US</h3>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3592.1864782477846!2d-80.1933130844918!3d25.79742131341628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b6a95d703143%3A0x7dd4deba98e16598!2s2100%20NE%202nd%20Ave%2C%20Miami%2C%20FL%2033137%2C%20USA!5e0!3m2!1sen!2sph!4v1672728722401!5m2!1sen!2sph"
                width="100%"
                height="420"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                class="page-contact-container"
                referrerpolicy="no-referrer-when-downgrade">
              </iframe>

              <button class="btn btn-primary btn-sm mt-4 px-4" type="submit">GO TO MAP</button>
            </div>

            <div class="col-12 col-lg-6">
              <h3 class="text-center mb-3">MESSAGE US</h3>

              <form id="OTMForm" class="bg-grey px-4 py-3 page-contact-container">
                <div class="row">
                  <div class="input-wrapper col-12 col-md-5">
                    <i class="icon-user form-icon" aria-hidden="true"></i>
                    <label class="mb-1" for="msg">Name:</label>
                    <input class="w-100 border-0 form-control" type="text" name="name" placeholder="Name" required>
                  </div>

                  <div class="input-wrapper col-12 col-md-7">
                    <i class="icon-envelope form-icon" aria-hidden="true"></i>
                    <label class="mb-1" for="sender">Email:</label>
                    <input class="w-100 border-0 form-control" type="email" name="email" placeholder="Email" required>
                  </div>

                  {# <div class="input-wrapper col-12 mt-2">
                    <i class="icon-layers form-icon" aria-hidden="true"></i>
                    <input class="w-100" type="text" name="subject" placeholder="Subject" required>
                  </div> #}
                </div>

                <div class="row">
                  <div class="input-wrapper col-12 mt-2">
                    <i class="icon-pencil form-icon" aria-hidden="true"></i>
                    <label class="mb-1" for="msg">Messsage:</label>
                    <textarea class="text w-100 border-0 bg-white form-control" name="message" rows="5" placeholder="Message" required></textarea>
                  </div>
                </div>
                <input type="hidden" name="suburl" id="sub-url" value="">
                <input type="hidden" name="submitted-from" id="submitted-from" value="">

                <button class="btn btn-primary btn-sm mt-4 px-5 otm-form-submit" type="submit" >
                  SEND
                </button>
              </form>

              <div class="spinner-border spinner-border-sm inquiry-loader" role="status" style="display: none;">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>

				<div class="article-body">
					{{post.content}}
				</div>

        {% include 'partial/instagram-section.twig' %}
			</section>
		</article>
	</div><!-- /content-wrapper -->

  <script>
    $(document).ready(function() {
      $("#OTMForm").submit(function( event ) {
        event.preventDefault();

        const name = $("#OTMForm input[name=\"name\"]").val();
        const email = $("#OTMForm input[name=\"email\"]").val();
        const message = $("#OTMForm textarea[name=\"message\"]").val();

        $(".otm-form-submit").attr('disabled', true);
        $(".inquiry-loader").show();

        $.ajax({
          type: 'POST',
          url: '/wp-admin/admin-ajax.php',
          dataType: 'html',
          data: {
            action: 'contact_us',
            name,
            email,
            message,
          },
          success: function(data) {
            $(".otm-form-submit").attr('disabled', false);
            $(".inquiry-loader").hide();

            const modalSubmitSuccess = new bootstrap.Modal(document.getElementById('inquiry-submit-success'));
            modalSubmitSuccess.show();
          },
          error: function(data) {
            $(".otm-form-submit").attr('disabled', false);
            $(".inquiry-loader").hide();
          }
        });
      });
    })
  </script>
{% endblock %}
