{% extends "base.twig" %}
{% set headerClass = "header-light" %}

{% block content %}
	<div class="content-wrapper">
		{% include 'partial/featured-header.twig' with { hideInquiry: true } %}

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section-heading pt-sm">
					<h3 class="title">LATEST ARRIVALS</h3>
				</div>

        <div class="container-fluid pb-5">
          <div class="row">
            <div class="col-12 col-md-6 filter-container">
              
            </div>

            <div class="col-12 col-md-6 filter-container">
              <div class="float-end">
                <label>FILTER BY:</label>

                <select id="filter-car" class="filter-container">
                  <option value="" selected>ALL CATEGORIES</option>

                  {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                  {% endfor %}
                <select>
              </div>
            </div>
          </div>

          <div id="car__list" class="row car-list">

            {% include 'partial/car-list.twig' with { cars: cars } %}

          </div>

          {% include 'partial/list-loader.twig' %}

          <div class="justify-content-end mb-4" style="display: none;">
            <button id="load-more-car-btn" class="btn load-more-btn">More</button>
          </div>
        </div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

  <script>
    $(document).ready(function() {
      let page = 1;

      $("#load-more-car-btn").click((e) => {
        e.preventDefault();

        page++;

        $("#load-more-car-btn").attr('disabled', true);
        $(".list-loader").removeClass("d-none");

        $.ajax({
          type: 'POST',
          url: '/wp-admin/admin-ajax.php',
          dataType: 'html',
          data: {
            action: 'get_cars',
            page: page,
            sort: $("#sort-car").val(),
            'filter-category': $("#filter-car").val()
          },
          success: function(data) {
            const carsCount = $('<div></div>').html(data).find('.car-item').size();

            if (carsCount < 9) {
              $("#load-more-car-btn").parent().hide();
            }

            if (carsCount) $('#car__list').append(data);

            $("#load-more-car-btn").attr('disabled', false);
            $(".list-loader").addClass("d-none");
          },
          error: function(data) {
            $("#load-more-car-btn").attr('disabled', false);
            $(".list-loader").addClass("d-none");
          }
        });
      });

      const carsCount = $('#car__list').find('.car-item').size();

      if (carsCount === 9) {
        $("#load-more-car-btn").parent().show();
      }

      $("#sort-car").change((e) => {
        e.preventDefault();

        page = 1;

        $('#car__list').html('');
        $("#load-more-car-btn").parent().hide();
        $(".list-loader").removeClass("d-none");

        $.ajax({
          type: 'POST',
          url: '/wp-admin/admin-ajax.php',
          dataType: 'html',
          data: {
            action: 'get_cars',
            page: page,
            sort: e.target.value,
            'filter-category': $("#filter-car").val()
          },
          success: function(data) {
            const carsCount = $('<div></div>').html(data).find('.car-item').size();

            if (carsCount < 9) {
              $("#load-more-car-btn").parent().hide();
            } else {
              $("#load-more-car-btn").parent().show();
            }

            if (carsCount) {
              $('#car__list').html(data);
            }

            $(".list-loader").addClass("d-none");
          },
          error: function(data) {
            $("#load-more-car-btn").parent().show();
            $(".list-loader").addClass("d-none");
          }
        });
      });

      $("#filter-car").change((e) => {
        e.preventDefault();

        page = 1;

        $('#car__list').html('');
        $("#load-more-car-btn").parent().hide();
        $(".list-loader").removeClass("d-none");

        $.ajax({
          type: 'POST',
          url: '/wp-admin/admin-ajax.php',
          dataType: 'html',
          data: {
            action: 'get_cars',
            page: page,
            sort: $("#sort-car").val(),
            'filter-category': e.target.value
          },
          success: function(data) {
            const carsCount = $('<div></div>').html(data).find('.car-item').size();

            if (carsCount < 9) {
              $("#load-more-car-btn").parent().hide();
            } else {
              $("#load-more-car-btn").parent().show();
            }

            if (carsCount) {
              $('#car__list').html(data);
            }

            $(".list-loader").addClass("d-none");
          },
          error: function(data) {
            $("#load-more-car-btn").parent().show();
            $(".list-loader").addClass("d-none");
          }
        });
      });
    });
  </script>
{% endblock %}
