.page-restoration {
  .btn {
    font-family: 'SweetSansPro';
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.5rem;

    &:hover {
      background-color: #696969;
      color: #fff;
    }

    &:active,
    &:focus,
    &.focus,
    &:visited,
    &:focus-visible {
      background-color: #4a4a4a;
      color: #fff;
      border: 0;
      outline: none !important;
      box-shadow: none;
    }
  }
}
