.single {
  .slider-overlay-container {
    position: relative;
    height: 100%;
    margin-top: -97vh;
  }

  .article-content {
    padding-bottom: 1.5rem;
  }

  .main-heading h3 {
    font-weight: 700;
    letter-spacing: 0.3rem;
  }

  .main-heading .subtitle {
    margin-top: 0.4rem;
    font-size: 1.4rem;
    color: #000000;
  }

  .article-body {
    padding: 0;
    padding-top: 1rem;
  }
}

/* left section */
.car-info {
  font-family: 'MerriweatherRegular';
  background-color: #f4f4f4;
  padding: 1.5rem;

  span {
    font-family: 'MerriweatherRegular';
  }

  p {
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
  }
}

.car-details {
  h4 {
    font-family: 'SweetSansPro';
    font-size: 2.2rem;
    position: relative;
    line-height: 2;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      top: 4rem;
      height: 0.34rem;
      background-color: black;
      width: 2.3rem;
    }
  }

  & > .content {
    overflow-y: scroll;
    max-height: 85vh;
    margin-bottom: 1.5rem;
    font-family: 'Merriweather-Regular';
    padding-right: 1.7rem;
  }

  & > .cta {
    margin-bottom: 1.5rem;
  }
}

/* right section */
.car-featured-image {
  margin-bottom: 1.5rem;

  img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .car-details > .content {
    overflow-y: auto;
    max-height: none;
  }
}

.car-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2%;
  padding: 0;

  li {
    position: relative;
    flex-basis: 49%;
    cursor: pointer;
    list-style-type: none;
    margin-bottom: 2%;
    max-height: 244px;
    overflow: hidden;

    img {
      object-fit: cover;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(57, 57, 57, 0.502);
      top: 0;
      left: 0;
      transition: all 0.2s 0.1s ease-in-out;
      opacity: 0;
    }

    &:hover .overlay {
      opacity: 1;
    }
  }
}
