.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

// div.measure {
//   background-color: black;
//   position: relative;
//   width: 300px;
//   height: 400px;
//   opacity: 0.5;
//   z-index: 3;
//   float: left;
// }

/* general styling */
.card .image-container {
  position: relative;
  height: fit-content;
  width: 100%;
}

.dark-overlay {
  background-color: #2e2e2e;
  position: absolute;
  opacity: 0.4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.lSSlideOuter .card:hover .dark-overlay {
  background-color: initial;
  opacity: 1;
}

.card:hover .dark-overlay {
  opacity: 0;
}

/* template specific styling */


/* restoration */
.page-template-template-restoration .shop-floor-image  {
  width: 100%;
}

/* about us */
.page-template-template-about .carousel .overlay-content {
  position: relative;
  z-index: 2;
  padding: 2rem 3rem;
}

.page-template-template-about .carousel.slide {
  height: auto;
}

.bg-image {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: 50% 50%;
}

@media (max-width: 767px) {
  .founders-bg-image {
    height: 20rem;
  }
}


/* Instagram Partial */
.col-insta {
  width: 14.2%;
  padding: 0 0.6rem;
}

.col-insta img {
  width: 100%;
}

/* Inquiry Modal */
#inquiryModal {
  top: 20%;
}

/* Main Navigation Hover */
.nav-link {
  animation: fadeIn ease 0.5s;
}

.navbar-toggler {
  height: fit-content;
  margin-top: 1rem;
  padding: 0px;
}

.navbar-toggler:hover {
  opacity: 0.5;
}

.navbar-float-toggler {
  position: fixed;
  top: 2rem;
  right: 4rem;
  z-index: 1;
}

.navbar-float-toggler > svg.icon {
  fill: #000;
}

.header .current_page_item a.nav-link,
.header a.nav-link:hover {
  animation: fadeIn ease 0.5s;
  color: #ffffff;
}

header.header-light .current_page_item a.nav-link,
header.header-light a.nav-link:hover {
  transition: fadeIn ease 0.5s;
  color: #f5f5f5;
}

.header .current_page_item a.nav-link::after,
.header a.nav-link:hover::after {
  animation: fadeIn ease 0.5s;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 3px;
  background-color: #ffffff;
  width: 2rem;
}

header.header-light .current_page_item a.nav-link::after,
header.header-light a.nav-link:hover::after {
  background-color: #f5f5f5;
}

/* custom lightSlider */
.lightSlider {
  height: 22rem !important;
}

.lSAction > a {
  top: 35% !important;
  opacity: 1 !important;
}

.lSAction > a:hover {
  opacity: 0.5 !important;
}


.lSAction > .lSPrev {
  left: 2% !important;
}

.lSAction > .lSNext {
  right: 2% !important;
}

/* Hover styling for car grid details */

.details h6 {
  font-family: "SweetSansPro";
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.details ul {
  padding-left: 1rem;
  padding-top: 1rem;
}

.details ul li {
  font-family: "MerriweatherRegular";
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.page-template-template-inventory .inventory-card .more {
  font-family: "SweetSansPro";
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}

.page-template-template-inventory .inventory-card .card-title {
  font-size: 1.4rem;
}

.page-template-template-inventory .inventory-card .card-text {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.details .more .span {
  font-size: 1rem;
}

.light-slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 20px;
  margin-top: -6px;
  background: black;
  cursor: pointer;
}

.ui-widget.ui-widget-content {
  height: 1px !important;
  border: none !important;
  background: #c5c5c5 !important;
}

.ui-slider-handle {
  width: 12px !important;
  height: 46px !important;
  margin-left: -0.6em !important;
}

.ui-slider-horizontal .ui-slider-handle {
  background-color: #a0a0a0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  top: -2.2vh !important;
}

.ui-slider-horizontal .ui-slider-handle {
  margin: 0;
}

.ui-state-active {
  border: 1px solid #ccc !important;
  background: #ededed !important;
}

.ui-state-focus {
  border: 1px solid #ccc !important;
  background: #ededed !important;
  outline: 0 none !important;
}

.lightslider-range-container {
  margin-top: 3vh !important;
  width: 80%;
  margin: auto;
}

#lightSlider-latest,
#lightSlider-journal {
  height: fit-content !important;
}

.home-spec {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: 0.5;
  width: 100%;
}

body:hover .home-spec {
  display: none;
}

.load-more-btn {
	float: right;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-top: 20px !important;
  color: #fff;
  background-color: #000;
  border: 0;
}

#load-more-journal-btn {
  margin-top: 40px !important;
}

.carousel-item a {
  z-index: 1 !important;
}

.carousel.product-carousel .overlay {
  top: unset !important;
  bottom: 9.5% !important;
  height: fit-content !important;
  padding: 2.5rem;
}

.product-carousel .overlay h2 {
  line-height: 2.2rem;
}

.product-carousel .overlay h2 span {
  font-weight: 400;
  color: black;
}

.product-carousel .overlay h2::after {
  margin-top: 0.9rem !important;
}

.carousel.product-carousel ul {
  padding-left: 1rem;
  margin-top: 1.2rem;
}

.single .carousel.product-carousel ul li {
  font-family: 'MerriweatherRegular';
  margin-bottom: 0.6rem;
}

.product-carousel .overlay .btn {
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 1.2rem;
  font-size: 0.7rem;
}

.btn.btn-primary {
  font-family: 'SweetSansPro' !important;
  font-weight: 700 !important;
  border-radius: 0.5rem !important;

  &:hover {
    background-color: #696969 !important;
    color: #fff !important;
  }

  &:active,
  &:disabled,
  &:focus,
  &.focus,
  &:visited,
  &:focus-visible {
    background-color: #4a4a4a !important;
    color: #fff !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

.snp-theme-html {
  background-color: #e7e9e9 !important;
  border-radius: 0px !important;
}

.snp-newtheme1 .snp-newsletter-content {
  background-color: unset !important;
}

.snp-theme-html h2 {
  font-size: 39px !important;
  line-height: 39.5px !important;
  font-family: 'SweetSansPro' !important;
  font-weight: 400 !important;
  color: black;
  text-align: center;
  letter-spacing: 0.4rem !important;
}

.snp-theme-html p {
  font-family: 'SweetSansPro' !important;
  line-height: 1.5rem !important;
  font-weight: 400 !important;
  font-size: 14.5px !important;
  color: black !important;
  text-align: center !important;
  letter-spacing: 0.1rem !important;
}

.snp-theme-html {
  width: 600px !important;
  padding: 90px 50px !important;
}

.snp-theme-html .snp-email {
  background-color: white !important;
  width: 100% !important;
  height: 3rem !important;
  font-size: 12.4px !important;
  padding: 1rem !important;
  margin-top: 2rem !important;
  color: black !important;
  letter-spacing: 0.18rem !important;
}

.snp-theme-html .snp-subscribe-button {
  /* width: 136px; */
  padding: 0.8rem 2rem !important;
  background-color: #000 !important;
  background-image: unset !important;
  color: white !important;
  text-shadow: unset !important;
  font-family: 'SweetSansPro' !important;
  font-weight: 400 !important;
  margin-top: 60px !important;
  letter-spacing: 0.1rem !important;
}

.snp-theme-html  .fancybox-optout {
  position: unset !important;
  top: unset !important;
  right: unset !important;
  bottom: unset !important;
  left: unset !important;
  color: white !important;
}

.snp-theme-html  img {
  width: 300px !important;
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
  margin: 0 auto !important;
}

.fancybox-close {
  top: 15px !important;
  right: 15px !important;
  background-image: url('img/X.png') !important;
  background-size: contain;
  height: 20px !important;
  width: 20px !important;
}

#inquiryModal {
  font-family: 'SweetSansPro';
}

label.sort-by {
  letter-spacing: 0.2rem;
}

select.filter-container {
  letter-spacing: 0.2rem;
}

#filter-car {
  width: 9.5rem;
}

#width_tmp_select{
  display : none;
}

.page-template-template-inventory label {
  letter-spacing: 0.2rem;
}

.page-contact form label {
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}

#inquiry-submit-success p{
  text-align: unset;
}

#inquiryModal {
  text-transform: uppercase;
}

.lightSlider {
  height: fit-content !important;
}

// Custom Select Dropdown

.filter-container label {
  float: left;
  padding: 8px 16px;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
  width: 200px;
  float: left;
  text-transform: uppercase;
  font-family: 'SweetSansPro';
  letter-spacing: 0.2rem;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.custom-select-right {
  width: 300px;
}

.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: black;
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #e7e9e9;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.caldera-grid .btn-default {
  color: #fff !important;
  background-color: #000 !important;
  padding: 1.2rem !important;
  border-radius: 10px !important;
  margin-top: 0.5rem;
}

.caldera-grid .form-group, .cf-color-picker .form-group {
  margin-bottom: 5px;
}

.caldera-grid .form-control {
  padding-bottom: 30px !important;
  color: #000 !important;
  padding-top: 15px !important;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px !important;
}

.caldera-grid .form-group, .cf-color-picker .form-group {
  margin-bottom: 8px !important;
}

.caldera-grid textarea.form-control {
  resize: none !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 576px;
  }
}

.tape-4 {
  position: absolute;
  z-index: 6;
  background-image: url(./img/tape-3-b.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 14rem;
  height: 7rem;
  top: -25px;
  right: -60px;
  transform: rotate(-90deg);
}

ul.main-navbar-nav li ul {
  overflow: hidden;
  height: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: opacity 0.25s ease-in;
}

ul.main-navbar-nav li:hover ul {
  height: fit-content;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.55);
  transition: opacity 0.25s ease-in;
}

ul.main-navbar-nav > li:hover > a {
  color: #fff;
}

ul.main-navbar-nav > li:hover > a.nav-link:after {
  -webkit-animation: fadeIn .5s ease;
  animation: fadeIn .5s ease;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 3px;
  background-color: #fff;
  width: 2rem;
}

ul.main-navbar-nav li ul {
  list-style: none;
  overflow: hidden;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

ul.main-navbar-nav li ul {
  padding-left: 0;
}

ul.main-navbar-nav li ul li {
  width: 100%;
}

ul.main-navbar-nav li ul li a {
  opacity: 1;
  display: block;
  padding: 0.5rem;
  text-align: center;
  font-family: SweetSansPro;
  text-transform: uppercase;
  letter-spacing: .21rem;
  font-weight: 600;
  font-size: .89rem;
  transition: opacity 0.5s ease-in;
}

ul.main-navbar-nav li ul li a:hover {
  color: white;
  transition: opacity 0.5s ease-in;
  transition: color 0.25s  ease-in;
}