/*** OVERRIDES STARTS HERE ***/

#polaroid {
  background: #ffffff;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  z-index: 5;
  overflow: hidden;
  height: 25rem;
  width: 25rem;
  padding: 0.5rem;
}

#polaroid img {
  width: 100%;
  height: 100%
}

.first-look-carousel .carousel.slide,
.first-look-carousel .carousel-inner {
  overflow: unset;
}

.carousel-item-v1 div.tape-1 {
  position: absolute;
  z-index: 4;
  background-image: url(assets/img/tape-1-c.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 15rem;
  width: 20rem;
  top: -7rem;
  left: 5rem;
}

.carousel-item-v1 div.tape-2 {
  position: absolute;
  right: -4rem;
  bottom: -2rem;
  z-index: 4;
  background-image: url(assets/img/tape-2-c.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 7rem;
  height: 19rem;
}

.carousel-item-v1 #polaroid {
  position: absolute;
  top: -3rem;
  left: -12rem;
  transform: rotate(355deg);
}

.carousel-item-v2 .overlay {
  left: 20%;
}

.carousel-item-v2 .bg-left {
  width: 40%;
}

.carousel-item-v2 .bg-right {
  width: 60%;
}

.carousel-item-v2 div.tape-1 {
  position: absolute;
  top: -1.5rem;
  left: -3rem;
  z-index: 4;
  background-image: url(assets/img/tape-1-b.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 7rem;
  height: 17rem;
  transform: rotate(5deg);
}

.carousel-item-v2 div.tape-2 {
  position: absolute;
  right: -5rem;
  bottom: 5rem;
  z-index: 4;
  background-image: url(assets/img/tape-2-b.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 8rem;
  height: 16rem;
}

.carousel-item-v2 div.tape-3 {
  position: absolute;
  z-index: 6;
  background-image: url(assets/img/tape-3-b.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 14rem;
  height: 7rem;
  bottom: -7rem;
  right: -21rem;
}

.carousel-item-v2 #polaroid {
  position: absolute;
  height: 18rem;
  width: 18rem;
  bottom: -4.5rem;
  right: -15rem;
  transform: rotate(354deg);
}

.carousel-item-v3 div.tape-1 {
  position: absolute;
  width: 13.5rem;
  height: 17%;
  top: -2.5rem;
  left: 0;
  z-index: 4;
  background-image: url(assets/img/tape-3.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.carousel-item-v3 div.tape-2 {
  position: absolute;
  z-index: 4;
  background-image: url(assets/img/tape-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15rem;
  height: 7rem;
  bottom: -6.5rem;
  left: -32rem;
}

.carousel-item-v3 div.tape-3 {
  position: absolute;
  right: -4rem;
  bottom: 10rem;
  z-index: 4;
  background-image: url(assets/img/tape-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 7rem;
  height: 18rem;
}

#firstLookCarousel .polaroid {
  position: absolute;
  bottom: -9.3rem;
  left: -25.5rem;
  background: initial;
  z-index: 5;
  overflow: hidden;
  height: 28.5rem;
  width: 29rem;
  padding: 0.5rem;
}

.polaroid img {
  width: 100%;
  height: 100%
}

/* single post */

.single .slider-overlay-container {
  position: relative;
  height: 100%;
  margin-top: -800px;
}

.single .article-content {
  padding-bottom: 1.5rem;
}

.single .main-heading h3 {
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.single .main-heading .subtitle {
  margin-top: 0.4rem;
  font-size: 1.4rem;
  color: #000000;
}

.single .article-body {
  padding: 0;
  padding-top: 1rem;
}

/* left section */
.car-info {
  font-family: 'MerriweatherRegular';
  background-color: #f4f4f4;
  padding: 1.5rem;
}

.car-info span {
  font-family: 'MerriweatherBold';
}

.car-info p {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

.car-details h4 {
  font-family: 'SweetSansPro';
  font-size: 1.6rem;
  position: relative;
  line-height: 2;
  margin-bottom: 1.5rem;
}

.car-details h4:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 3.4rem;
  height: 0.34rem;
  background-color: black;
  width: 2rem;
}

.car-details > .content {
  overflow-y: scroll;
  max-height: 85vh;
  margin-bottom: 1.5rem;
  font-family: 'Merriweather-Regular';
}

.car-details > .cta {
  margin-bottom: 1.5rem;
}


/* right section */
.car-featured-image {
  margin-bottom: 1.5rem;
}

.car-featured-image img {
  width: 100%;
}

@media (max-width: 767px) {
  .car-details > .content {
    overflow-y: auto;
    max-height: none;
  }

}


.car-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2%;
  padding: 0;
}

.car-gallery > li {
  position: relative;
  flex-basis: 49%;
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 2%;
}

.car-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.car-gallery .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transition: all 0.2s 0.1s ease-in-out;
  opacity: 0;
}

.car-gallery li:hover .overlay {
  opacity: 1;
}

/* Footer related styles */

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.divider {
  border-bottom: 1px solid #000000;
  width: 100%;
  margin-top: 1.6rem;
  margin-bottom: 1.8rem;
}

footer {
  z-index: 3;
  margin-top: auto;
  background-color: #E7E9E9;
  color: #000000;
  padding: 2rem 0;
  font-family: 'SweetSansPro';
  font-weight: 600;
  text-transform: uppercase;
}

footer ul {
  list-style: none;
  padding-left: 0;
  font-family: 'SweetSansPro';
  font-weight: 600;
  font-size: 0.8rem;
}

footer ul li{
  padding: 0.25rem 0;
}

footer ul li a {
  letter-spacing: 0.15rem;
}

footer h1 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.4rem;
  margin-bottom: 0;
}

footer h2 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.18rem;
}

footer h6 {
  font-size: 0.8rem;
}

div.measure {
  background-color: black;
  position: relative;
  width: 300px;
  height: 400px;
  opacity: 0.5;
  z-index: 3;
  float: left;
}

/* general styling */
.card .image-container {
  position: relative;
  height: fit-content;
  width: 100%;
}

.dark-overlay {
  background-color: #2e2e2e;
  position: absolute;
  opacity: 0.4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.lSSlideOuter .card:hover .dark-overlay {
  background-color: initial;
  opacity: 1;
}

.card:hover .dark-overlay {
  opacity: 0;
}

/* template specific styling */


/* restoration */
.page-template-template-restoration .shop-floor-image  {
  width: 100%;
}

/* about us */
.page-template-template-about .carousel .overlay-content {
  position: relative;
  z-index: 2;
  padding: 2rem 3rem;
}

.page-template-template-about .carousel.slide {
  height: auto;
}

.bg-image {
  background-image: var(--bg-image);
  background-size: cover;
  background-position-y: 50%;
}

@media (max-width: 767px) {
  .founders-bg-image {
    height: 20rem;
  }
}

/* Contact page */
#OTMForm .form-btn:hover {
  color: #000;
}

#OTMForm .otm-form-response {
  color: #000;
  font-size: 16px;
  text-align: center;
  display: block;
}

#OTMForm input {
  height: 2rem;
  padding: 1rem;
}

#OTMForm textarea {
  height: 20rem;
  padding: 1rem;
}

/* Instagram Partial */
.col-insta {
  width: 14.2%;
  padding: 0 0.6rem;
}

.col-insta img {
  width: 100%;
}

/* Inquiry Modal */
#inquiryModal {
  top: 20%;
}

/* Main Navigation Hover */
.nav-link {
  transition: none;
}

.navbar-toggler {
  height: fit-content;
  margin-top: 1rem;
  padding: 0px;
}

.navbar-toggler:hover {
  opacity: 0.5;
}

.navbar-float-toggler {
  position: fixed;
  top: 2rem;
  right: 4rem;
  z-index: 1;
}

.navbar-float-toggler > svg.icon {
  fill: #000;
}

.header .current_page_item a.nav-link,
.header a.nav-link:hover {
  color: #ffffff;
}

header.header-light .current_page_item a.nav-link,
header.header-light a.nav-link:hover {
  color: #f5f5f5;
}

.header .current_page_item a.nav-link::after,
.header a.nav-link:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 3px;
  background-color: #ffffff;
  width: 2rem;
}

header.header-light .current_page_item a.nav-link::after,
header.header-light a.nav-link:hover::after {
  background-color: #f5f5f5;
}

/* custom lightSlider */
.lightSlider {
  height: 22rem !important;
}

.lSAction > a {
  top: 35% !important;
  opacity: 1 !important;
}

.lSAction > a:hover {
  opacity: 0.5 !important;
}


.lSAction > .lSPrev {
  left: 2% !important;
}

.lSAction > .lSNext {
  right: 2% !important;
}

/* Hover styling for car grid details */

.details h6 {
  font-family: "SweetSansPro";
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.details ul {
  padding-left: 1rem;
  padding-top: 1rem;
}

.details ul li {
  font-family: "MerriweatherRegular";
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.page-template-template-inventory .inventory-card .more {
  font-family: "SweetSansPro";
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}

.page-template-template-inventory .inventory-card .card-title {
  font-size: 1.4rem;
}

.page-template-template-inventory .inventory-card .card-text {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.details .more .span {
  font-size: 1rem;
}

.light-slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 20px;
  margin-top: -6px;
  background: black;
  cursor: pointer;
}

.ui-widget.ui-widget-content {
  height: 0.12rem !important;
  border: none !important;
  background: #c5c5c5 !important;
}

.ui-slider-handle {
  width: 12px !important;
  height: 46px !important;
}

.ui-slider-horizontal .ui-slider-handle {
  background-color: #a0a0a0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  top: -1.3rem !important;
}

.ui-state-active {
  border: 1px solid #ccc !important;
  background: #ededed !important;
}

.ui-state-focus {
  border: 1px solid #ccc !important;
  background: #ededed !important;
  outline: 0 none !important;
}

.lightslider-range-container {
  margin-top: 15px;
  padding: 0 9rem;
}

#lightSlider-latest,
#lightSlider-journal {
  height: fit-content !important;
}

/* Responsiveness */

/* for sumo sized (mac) screens */
@media only screen and (min-width: 1900px) {
  .featured-container {
    height: 900px;
  }

  .featured {
    min-height: 900px;
    background-size: cover;
    background-position: 50% 100%;
  }
}

@media only screen and (min-height: 1880px) {
  .featured-container {
    height: 1800px;
  }

  .featured {
    background-size: cover;
    background-position: 50% 0%;
    min-height: 1800px;
  }
}

@media only screen and (min-width: 2560px) {
  .featured-container {
    height: 1300px;
  }

  .featured {
    min-height: 1300px;
    background-size: cover;
    background-position: 50% 0%;
  }
}

.home-spec {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: 0.5;
  width: 100%;
}

body:hover .home-spec {
  display: none;
}

.load-more-btn {
	float: right;
  width: fit-content;
  padding: 0.5rem 2rem;
  color: #fff;
  background-color: #000;
  border: 0;
}
