.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

// div.measure {
//   background-color: black;
//   position: relative;
//   width: 300px;
//   height: 400px;
//   opacity: 0.5;
//   z-index: 3;
//   float: left;
// }

/* general styling */
.card .image-container {
  position: relative;
  height: fit-content;
  width: 100%;
}

.dark-overlay {
  background-color: #2e2e2e;
  position: absolute;
  opacity: 0.4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.lSSlideOuter .card:hover .dark-overlay {
  background-color: initial;
  opacity: 1;
}

.card:hover .dark-overlay {
  opacity: 0;
}

/* template specific styling */


/* restoration */
.page-template-template-restoration .shop-floor-image  {
  width: 100%;
}

/* about us */
.page-template-template-about .carousel .overlay-content {
  position: relative;
  z-index: 2;
  padding: 2rem 3rem;
}

.page-template-template-about .carousel.slide {
  height: auto;
}

.bg-image {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: 50% 50%;
}

@media (max-width: 767px) {
  .founders-bg-image {
    height: 20rem;
  }
}


/* Instagram Partial */
.col-insta {
  width: 14.2%;
  padding: 0 0.6rem;
}

.col-insta img {
  width: 100%;
}

/* Inquiry Modal */
#inquiryModal {
  top: 20%;
}

/* Main Navigation Hover */
.nav-link {
  transition: none;
}

.navbar-toggler {
  height: fit-content;
  margin-top: 1rem;
  padding: 0px;
}

.navbar-toggler:hover {
  opacity: 0.5;
}

.navbar-float-toggler {
  position: fixed;
  top: 2rem;
  right: 4rem;
  z-index: 1;
}

.navbar-float-toggler > svg.icon {
  fill: #000;
}

.header .current_page_item a.nav-link,
.header a.nav-link:hover {
  color: #ffffff;
}

header.header-light .current_page_item a.nav-link,
header.header-light a.nav-link:hover {
  color: #f5f5f5;
}

.header .current_page_item a.nav-link::after,
.header a.nav-link:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 3px;
  background-color: #ffffff;
  width: 2rem;
}

header.header-light .current_page_item a.nav-link::after,
header.header-light a.nav-link:hover::after {
  background-color: #f5f5f5;
}

/* custom lightSlider */
.lightSlider {
  height: 22rem !important;
}

.lSAction > a {
  top: 35% !important;
  opacity: 1 !important;
}

.lSAction > a:hover {
  opacity: 0.5 !important;
}


.lSAction > .lSPrev {
  left: 2% !important;
}

.lSAction > .lSNext {
  right: 2% !important;
}

/* Hover styling for car grid details */

.details h6 {
  font-family: "SweetSansPro";
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.details ul {
  padding-left: 1rem;
  padding-top: 1rem;
}

.details ul li {
  font-family: "MerriweatherRegular";
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.page-template-template-inventory .inventory-card .more {
  font-family: "SweetSansPro";
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}

.page-template-template-inventory .inventory-card .card-title {
  font-size: 1.4rem;
}

.page-template-template-inventory .inventory-card .card-text {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.details .more .span {
  font-size: 1rem;
}

.light-slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 20px;
  margin-top: -6px;
  background: black;
  cursor: pointer;
}

.ui-widget.ui-widget-content {
  height: 1px !important;
  border: none !important;
  background: #c5c5c5 !important;
}

.ui-slider-handle {
  width: 1.47vh !important;
  height: 5.78vh !important;
  margin-left: -0.6em !important;
}

.ui-slider-horizontal .ui-slider-handle {
  background-color: #a0a0a0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  top: -2.8vh !important;
}

.ui-slider-horizontal .ui-slider-handle {
  margin: 0;
}

.ui-state-active {
  border: 1px solid #ccc !important;
  background: #ededed !important;
}

.ui-state-focus {
  border: 1px solid #ccc !important;
  background: #ededed !important;
  outline: 0 none !important;
}

.lightslider-range-container {
  margin-top: 3vh !important;
  width: 80%;
  margin: auto;
}

#lightSlider-latest,
#lightSlider-journal {
  height: fit-content !important;
}

.home-spec {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: 0.5;
  width: 100%;
}

body:hover .home-spec {
  display: none;
}

.load-more-btn {
	float: right;
  width: fit-content;
  padding: 0.5rem 2rem;
  color: #fff;
  background-color: #000;
  border: 0;
}

.carousel-item a {
  z-index: 1 !important;
}

.carousel.product-carousel .overlay {
  top: unset !important;
  bottom: 9.5% !important;
  height: fit-content !important;
  padding: 2.5rem;
}

.product-carousel .overlay h2 {
  line-height: 2.2rem;
}

.product-carousel .overlay h2 span {
  font-weight: 400;
  color: black;
}

.product-carousel .overlay h2::after {
  margin-top: 0.9rem !important;
}

.carousel.product-carousel ul {
  padding-left: 1rem;
  margin-top: 1.2rem;
}

.single .carousel.product-carousel ul li {
  font-family: 'MerriweatherRegular';
  margin-bottom: 0.6rem;
}

.product-carousel .overlay .btn {
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 1.2rem;
  font-size: 0.7rem;
}

.btn.btn-primary {
  font-family: 'SweetSansPro' !important;
  font-weight: 700 !important;
  border-radius: 0.5rem !important;

  &:hover {
    background-color: #696969 !important;
    color: #fff !important;
  }

  &:active,
  &:disabled,
  &:focus,
  &.focus,
  &:visited,
  &:focus-visible {
    background-color: #4a4a4a !important;
    color: #fff !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

.snp-theme-html {
  background-color: black !important;
}

.snp-newtheme1 .snp-newsletter-content {
  background-color: unset !important;
}

.snp-theme-html h2 {
  font-size: 36px !important;
  font-family: 'SweetSansPro' !important;
  font-weight: 300 !important;
  color: white;
  text-align: center;
  letter-spacing: 0.4rem !important;
}

.snp-theme-html p {
  font-family: 'SweetSansPro' !important;
  line-height: 0.8rem !important;
  font-weight: 300 !important;
  margin-top: 1rem !important;
  font-size: 16px !important;
  color: white !important;
  text-align: center !important;
  letter-spacing: 0.1rem !important;
}

.snp-theme-html {
  width: 600px !important;
  padding: 90px 50px !important;
}

.snp-theme-html .snp-email {
  background-color: white !important;
  width: 100% !important;
  height: 3rem !important;
  font-size: 16px !important;
  padding: 1rem !important;
  margin-top: 2rem !important;
  color: black !important;
  letter-spacing: 0.1rem !important;
}

.snp-theme-html .snp-subscribe-button {
  /* width: 136px; */
  padding: 0 15px;
  float: left;
  background-color: white !important;
  background-image: unset !important;
  color: black !important;
  padding: 0.8rem 1rem !important;
  text-shadow: unset !important;
  margin-top: 1rem !important;
  float: left;
  letter-spacing: 0.1rem !important;
}

.snp-theme-html  .fancybox-optout {
  position: unset !important;
  top: unset !important;
  right: unset !important;
  bottom: unset !important;
  left: unset !important;
  color: white !important;
}

.snp-theme-html  img {
  width: 60%;
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
  margin: 0 auto !important;
}

#inquiryModal {
  font-family: 'SweetSansPro';
}

label.sort-by {
  letter-spacing: 0.2rem;
}

select.filter-container {
  letter-spacing: 0.2rem;
}

#filter-car {
  width: 9.5rem;
}

#width_tmp_select{
  display : none;
}

.page-template-template-inventory label {
  letter-spacing: 0.2rem;
}

.page-contact form label {
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}

#inquiry-submit-success p{
  text-align: unset;
}

#inquiryModal {
  text-transform: uppercase;
}
