@media only screen and (max-width: 1262px) {
  html {
    font-size: 70%;
  }

  .founders-section {
    .bg-image {
      min-height: 50vh !important;
    }
  }

  .cutout-slider {
    height: unset !important;

    .bg-image {
      min-height: 30vh !important;
    }
  }

  .right-side {
    width: 100% !important;

    .content {
      width: 100% !important;
    }
  }

  .page-template-template-home-page section .section-heading {
    padding-top: 5vh !important;
  }

  // .carousel.slide {
  //   height: 70vh;
  // }

  .featured-container {
    height: 50vh !important;

    .featured {
      min-height: 100%;
      background-size: cover;
      background-position: 47.5% 23%;
    }
  }

  .youtube-container {
    &.youtube-container-md {
      display: none;
    }

    &.youtube-container-xs {
      display: block;
    }
  }

  .header-carousel {
    height: 50vh !important;

    .header-details {
      display: none !important;
      // left: unset !important;
      // bottom: 5rem !important;
      // width: 50% !important;
    }

    .carousel-item .bg-main {
      min-height: 110% !important;
    }

    .slider-overlay-container {
      margin-top: -50vh;
    }
  }

  .cutout-slider .cutout-slider-content {
    padding-left: 10vh !important;
    padding-right: 10vh !important;
  }

  .section-heading.main-heading {
    & > .title::before {
      margin-left: -57% !important;
      display: none !important;
    }

    & > .title::after {
      margin-left: 38% !important;
      display: none !important;
    }
  }
}

@media only screen and (max-width: 991px) {
  html {
    .first-look-carousel {
      .carousel-control-next-icon,
      .carousel-control-prev-icon {
      background-color: rgba(0,0,0,0.1) !important;
    }
    }
  }

  .filter-container {
    margin-top: 0 !important;
  }

  .custom-select {
    width: 240px;
    float: right;
  }

  .custom-select .select-items {
    position: relative;
  }
}

@media only screen and (max-width: 991px) {
  html {
    .first-look-carousel {
      .carousel-control-next-icon,
      .carousel-control-prev-icon {
      background-color: rgba(0,0,0,0.1) !important;
    }
    }
  }
}

// 800x1280
@media only screen and (min-width: 800px) and (max-width: 1262px) {
  html {
    font-size: 90%;
  }

  .custom-select-right {
    width: 200px;
  }
}

// 1280×800 , 1280×720
@media only screen and (min-width: 1263px) and (max-width: 1349px) {
  html {
    font-size: 100%;
  }

  .youtube-container {
    &.youtube-container-md {
      display: none;
    }

    &.youtube-container-xs {
      display: block;
    }
  }

  .header-carousel {
    height: 110vh !important;

    .overlay {
      height: 23rem !important;
    }

    .header-details {
      top: 13rem !important;
    }

    .slider-overlay-container {
      margin-top: -110vh;
    }
  }

  .header-carousel .overlay {
    top: calc(5vh + 190px) !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .custom-select-right {
    width: 200px;
  }
}

// 1366×768
@media only screen and (min-width: 1349px) and (max-width: 1422px) {
  html {
    font-size: 100%;
  }

  .youtube-container {
    &.youtube-container-md {
      display: none;
    }

    &.youtube-container-xs {
      display: block;
    }
  }
}

// 1440×900
@media only screen and (min-width: 1423px) and (max-width: 1518px) {
  html {
    font-size: 100%;
  }

  .youtube-container {
    &.youtube-container-md {
      display: none;
    }

    &.youtube-container-sm {
      display: block;
    }
  }
}

// 1536×864
@media only screen and (min-width: 1519px) and (max-width: 1662px) {
  html {
    font-size: 100%;
  }

  .youtube-container {
    &.youtube-container-md {
      display: none;
    }

    &.youtube-container-sm {
      display: block;
    }
  }
}

// 1680×1050
@media only screen and (min-width: 1663px) and (max-width: 1774px) {
  html {
    font-size: 100%;
  }
}

// 1792×1120
@media only screen and (min-width: 1775px) and (max-width: 1904px) {
  html {
    font-size: 100%;
  }

  .youtube-container {
    &.youtube-container-md {
      display: none;
    }

    &.youtube-container-lg {
      display: block;
    }
  }
}


// 1920×1080
@media only screen and (min-width: 1905px) and (max-width: 2544px) {
  html {
    font-size: 100%;
  }
}

// 2560×1440
@media only screen and (min-width: 2545px) {
  html {
    font-size: 135%;
  }

  .container-fluid {
    min-width: 82.5rem;
  }

  .youtube-container {
    &.youtube-container-md {
      display: none;
    }

    &.youtube-container-xl {
      display: block;
    }
  }

  .container {
    max-width: 1768px !important;
  }

  .header-carousel {
    .overlay {
      top:  calc(5vh + 320px) !important;
    }
  }
}
