// 1280×800 , 1280×720
@media only screen and (min-width: 1263px) and (max-width: 1349px) {
  html {
    font-size: 100%;
  }

  .featured-container {
    height: 78vh;

    .featured {
      min-height: 100%;
      background-size: cover;
      background-position: 50% 23%;
    }
  }

  .youtube-container {
    &.youtube-container-md {
      display: none;
    }

    &.youtube-container-xs {
      display: block;
    }
  }
}

// 1366×768
@media only screen and (min-width: 1349px) and (max-width: 1422px) {
  html {
    font-size: 100%;
  }

  .featured-container {
    height: 79.5vh;

    .featured {
      min-height: 120%;
      background-size: cover;
      background-position: 50% 60%;
    }
  }

  .youtube-container {
    &.youtube-container-md {
      display: none;
    }

    &.youtube-container-xs {
      display: block;
    }
  }
}

// 1440×900
@media only screen and (min-width: 1423px) and (max-width: 1518px) {
  html {
    font-size: 100%;
  }

  .featured-container {
    height: 81vh;

    .featured {
      min-height: 100%;
      background-size: cover;
      background-position: 50% 40%;
    }
  }

  .youtube-container {
    &.youtube-container-md {
      display: none;
    }

    &.youtube-container-sm {
      display: block;
    }
  }
}

// 1536×864
@media only screen and (min-width: 1519px) and (max-width: 1662px) {
  html {
    font-size: 100%;
  }

  .featured-container {
    height: 80vh;

    .featured {
      min-height: 115%;
      background-size: cover;
      background-position: 50%, 100%;
    }
  }

  .youtube-container {
    &.youtube-container-md {
      display: none;
    }

    &.youtube-container-sm {
      display: block;
    }
  }
}

// 1680×1050
@media only screen and (min-width: 1663px) and (max-width: 1774px) {
  html {
    font-size: 100%;
  }

  .featured-container {
    height: 85vh;

    .featured {
      min-height: 100%;
      background-size: cover;
      background-position: 50% 40%;
    }
  }
}

// 1792×1120
@media only screen and (min-width: 1775px) and (max-width: 1904px) {
  html {
    font-size: 100%;
  }

  .featured-container {
    height: 86vh;

    .featured {
      min-height: 100%;
      background-size: cover;
      background-position: 50% 50%;
    }
  }

  .youtube-container {
    &.youtube-container-md {
      display: none;
    }

    &.youtube-container-lg {
      display: block;
    }
  }
}


// 1920×1080
@media only screen and (min-width: 1905px) and (max-width: 2544px) {
  html {
    font-size: 100%;
  }

  .featured-container {
    height: 84vh;

    .featured {
      min-height: 100%;
      background-size: cover;
      background-position: 50% 55%;
    }
  }
}

// 2560×1440
@media only screen and (min-width: 2545px) {
  html {
    font-size: 135%;
  }

  .container-fluid {
    min-width: 82.5rem;
  }

  .featured-container {
    height: 86.5vh;

    .featured {
      min-height: 100%;
      background-size: cover;
      background-position: 50% 55%;
    }
  }

  .youtube-container {
    &.youtube-container-md {
      display: none;
    }

    &.youtube-container-xl {
      display: block;
    }
  }
}
