<div class="featured-container">

  {% if post.meta('light_overlay') %}
    <div class="overlay dark-overlay"></div>
  {% else %}
    {# <div class="overlay dark-overlay"></div> #}
  {% endif %}

  {% if post.thumbnail.src %}
    <div class="featured" style="--bg-image: url({{ post.thumbnail.src }});"></div>
  {% else %}
    <div class="featured" style="--bg-image: url({{ site.theme.link }}/dist/assets/img/default.png);"></div>
  {% endif %}

  {% if not hideInquiry %}
    <button type="button" class="btn btn-inquire btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#inquiryModal">
      INQUIRE
    </button>
  {% endif %}
</div>
