<div id="inquiryModal" class="modal fade" tabindex="-1" aria-labelledby="inquiryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryModalLabel">
          Inquire - 
          {% if customTitle is defined %}
            {{ customTitle }}
          {% elseif wp_title %}
            {{ wp_title }}
          {% else %}
            {{ site.name }}
          {% endif %}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ function('do_shortcode', '[caldera_form id="CF5cdc60958653d"]') }}
      </div>
    </div>
  </div>
</div>