<div class="section-heading pt-md">
  <h3 class="title">@WEARECURATED</h3>

  <h5 class="subtitle">INSTAGRAM</h5>
</div>

<div class="container">
  {# Replace with something like a shortcode later on #}
  {# {{ wp.do_shortcode('[instagram feed="123"]') }} #}

  <div class="row mx-auto my-auto justify-content-center pb-5 pt-0">
    {{ function('do_shortcode', '[instagram feed="11053"]') }}
  </div>
</div>