<div class="container">
  <div class="row">
    <div class="col-md-4 text-start">
    </div>

    <div class="col-md-4 text-center">
      <h1>CURATED</h1>
    </div>

    <div class="col-md-4 text-end">
    </div>
  </div>

  <div class="divider"></div>

  <div class="row">
    <div class="col-md-4 text-start">
      <h6>Copyright {{"now"|date('Y')}}</h6>
    </div>

    <div class="col-md-4 text-center">
      <h6>2100 NE 2ND AVE MIAMA FL 33137</h6>
    </div>

    <div class="col-md-4 text-end">
      <h6>WEARECURATED.COM</h6>
    </div>
  </div>
</div>
