<div class="container">
  <div class="row">
    <div class="col-md-4 text-start">
      <ul>
        <li>
          <a>PRIVACY</a>
        </li>
        <li>
          <a>INVENTORY</a>
        </li>
        <li>
          <a>RESTORATION</a>
        </li>
        <li>
          <a>SERVICES</a>
        </li>
        <li>
          <a>ABOUT</a>
        </li>
      </ul>
    </div>

    <div class="col-md-4 text-center">
      <h1>CURATED</h1>
      <h2>VINTAGE SUPERCARS</h2>
    </div>

    <div class="col-md-4 text-end">
      <ul>
        <li>
          <a>BLOG</a>
        </li>
        <li>
          <a>ARCHIVES</a>
        </li>
        <li>
          <a>COLLABS</a>
        </li>
        <li>
          <a>CONTACT</a>
        </li>
        <li>
          <a>TERMS</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row">
    <div class="col-md-4 text-start">
      <h6>Copyright {{"now"|date('Y')}}</h6>
    </div>

    <div class="col-md-4 text-center">
      <h6>2100 NE 2ND AVE MIAMA FL 33137</h6>
    </div>

    <div class="col-md-4 text-end">
      <h6>WEARECURATED.COM</h6>
    </div>
  </div>
</div>
