{% extends "base.twig" %}
{% set headerClass = "header-light" %}

{% block content %}
	<div class="content-wrapper">
		{% include 'partial/featured-header.twig' with { hideInquiry: true } %}

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section-heading pt-sm">
					<h3 class="title">LATEST ARRIVALS</h3>
				</div>

        <div class="container-fluid pb-5">
          <div class="row">
            <div class="col-12 col-md-6 filter">
              <label>FILTER BY:</label>
              {{post.content}}
            </div>
          </div>

          <div id="car__list" class="row car-list">

            {% include 'partial/car-list.twig' with { cars: cars } %}

          </div>

          <div class="justify-content-end mb-4">
            <button id="load-more-car-btn" class="btn load-more-btn">More</button>
          </div>
        </div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

  <script>
    $(document).ready(function() {
      let page = 1;

      $("#load-more-car-btn").click((e) => {
        e.preventDefault();

        page++;

        $("#load-more-car-btn").attr('disabled', true);

        $.ajax({
          type: 'POST',
          url: '/wp-admin/admin-ajax.php',
          dataType: 'html',
          data: {
            action : 'get_cars',
            page : page,
          },
          success: function(data) {
            const carsCount = $('<div></div>').html(data).find('.car-item').size();

            if (carsCount < 9) {
              $("#load-more-car-btn").parent().hide();
            }

            if (carsCount) $('#car__list').append(data);

            $("#load-more-car-btn").attr('disabled', false);
          },
          error: function(data) {
            $("#load-more-car-btn").attr('disabled', false);
          }
        });
      });

      const carsCount = $('#car__list').find('.car-item').size();

      if (carsCount < 9) {
        $("#load-more-car-btn").parent().show();
      }
    });
  </script>
{% endblock %}
