<div class="logo dark">
  <img src="{{ site.theme.link }}/assets/img/curated_vintage_cars-dark.png"></img>
</div>

<div class="logo light">
  <img src="{{ site.theme.link }}/assets/img/curated_vintage_cars-light.png"></img>
</div>